<div class="title">
  <h1>Posts</h1>
</div>

<div class="menu">
  <%= link_to '+ Create new post', new_post_path %>
</div>

<% @posts.each do |post| %>
  <div class="posts">
    <h3><%= link_to post.title, post %></h3>
    <%= post.body %>
  </div>
<% end %>