<div class="title">
  <h1><%= @post.title %></h1>
</div>

<div class="menu">
  <a><%= link_to 'Back', posts_path %></a>
</div>

<div class="posts">
  <h3>ID: <%= @post.id %></h3>
  <%= @post.body %>
</div>