body
  margin: 25px auto
  background-color: #1f1f7a
  width: 70%

.posts
  h1
    color: #000000
  h3
    color: #7b68ee
  background-color: #efeff5
  padding: 5px 35px 20px 35px

.title
  background-color: #c6b3ff
  padding: 10px 35px
  border-radius: 15px 15px 0px 0px